@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.title {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title_gr {
  background: linear-gradient(90deg, #C3956A 3.65%, #a14f03 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.title_gr:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

.title-3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.title-4 {
  position: absolute;
  top: 15.6rem;
  right: 0;
  display: inline-block;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: right;
  letter-spacing: 0.2rem;
  color: #fff;
  text-transform: uppercase;
}
.title-4 span {
  background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
}
.title-4 span:first-child {
  padding: 1rem 1.6rem 0;
}
.title-4 span:last-child {
  padding: 0 1.6rem 1rem;
}

.paragraf {
  line-height: 140%;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}

.margin-bottom-5rem {
  margin-bottom: 5rem;
}

.margin-bottom-8rem {
  margin-bottom: 8rem;
}

.btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #777;
  padding: 1.5rem 4rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  border-radius: 5rem;
  background: #fff;
  transition: all 0.5s ease;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #777;
  padding: 1.5rem 4rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  border-radius: 5rem;
  background: #fff;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background: #fff;
  display: inline-block;
  z-index: -1;
  transition: all 0.4s ease;
}
.btn_animated {
  -webkit-animation: btnToUp 3s ease 2s;
          animation: btnToUp 3s ease 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: #ba8554;
  text-decoration: none;
  border-bottom: 1px solid #ba8554;
  transition: all 0.5s ease;
}
.btn-text:hover {
  color: #fff;
  background-color: #ba8554;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  outline-offset: 1rem;
  z-index: 10;
  transition: all 0.3s ease;
}
.composition__photo_n1 {
  top: 0;
  left: 2rem;
}
.composition__photo_n2 {
  top: 8rem;
  right: 0;
}
.composition__photo_n3 {
  top: 15rem;
  left: 5rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  outline: 1rem solid #ba8554;
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.card {
  padding: 2.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.card__icon {
  display: inline-block;
  margin-bottom: 2.4rem;
  font-size: 6.3rem;
}

.tour__card {
  position: relative;
  height: 50rem;
  text-align: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.tour__card--side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50rem;
  transition: all 0.7s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.tour__card--side_front {
  background: #fff;
}
.tour__card--side_back {
  color: #fff;
  transform: rotateY(180deg);
  background: linear-gradient(156.85deg, #ba8554 3.65%, #a14f03 100%);
}
.tour__card--side_back_tetle {
  padding: 10rem 0 8.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.tour__card--side_back_price {
  padding-bottom: 8.7rem;
  font-weight: 500;
  font-size: 6rem;
  line-height: 7.2rem;
}
.tour__card:hover .tour__card--side_front {
  transform: rotateY(-180deg);
}
.tour__card:hover .tour__card--side_back {
  transform: rotateY(0deg);
}
.tour__card--img {
  height: 21rem;
  margin-bottom: 6rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.tour__card--img_1 {
  background: #ba8554 url("../img/tour-img-1.jpg") center/cover no-repeat;
}
.tour__card--img_2 {
  background: #ba8554 url("../img/tour-img-2.jpg") center/cover no-repeat;
}
.tour__card--img_3 {
  background: #ba8554 url("../img/tour-img-3.jpg") center/cover no-repeat;
}
.tour__card--list {
  list-style: none;
}
.tour__card--list_item {
  display: inline-block;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.9rem;
  border-bottom: 0.1rem solid #777;
}
.tour__card--list_item:last-child {
  margin-bottom: 0;
}

.about {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.adventure {
  padding: 21.6rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/adventure-bg.jpg") center/cover no-repeat;
  transform: skewY(7deg);
}
.adventure > * {
  transform: skewY(-7deg);
}
.adventure__paragraf {
  line-height: 1.9rem;
}

.tour {
  padding-top: 15rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/header-bg.jpg") center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__title {
  margin-bottom: 1rem;
  font-size: 5rem;
  line-height: 6rem;
  -webkit-animation: leftToRight 3s ease 1s;
          animation: leftToRight 3s ease 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header__subtitle {
  margin-bottom: 5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation: rightToLeft 3s ease 1s;
          animation: rightToLeft 3s ease 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.adventure {
  padding: 21.6rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/adventure-bg.jpg") center/cover no-repeat;
  transform: skewY(7deg);
}
.adventure > * {
  transform: skewY(-7deg);
}
.adventure__paragraf {
  line-height: 1.9rem;
}

.tour {
  padding-top: 15rem;
}/*# sourceMappingURL=style.css.map */