.title
    font-weight: 800
    font-size: $font-size-title-h2
    line-height: 4.3rem
    letter-spacing: 1rem
    text-transform: uppercase
    transition: all .4s ease
    backface-visibility: hidden
    &_white
        color: $color-white
        &:hover
            transform: skewY(2deg) skewX(15deg) scale(1.1)
            text-shadow: $box-shadow
    &_gr
        background: linear-gradient(90deg, #C3956A 3.65%, $brown-color-darck 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        &:hover
            transform: skewY(2deg) skewX(15deg) scale(1.1)
            text-shadow: $box-shadow

.title-3
    font-weight: 700
    font-size: $font-size-title-h3
    line-height: 2.4rem
    letter-spacing: .2rem
    text-transform: uppercase

.title-4
    position: absolute
    top: 15.6rem
    right: 0
    display: inline-block
    font-weight: 300
    font-size: 2.8rem
    line-height: 3.4rem
    text-align: right
    letter-spacing: .2rem
    color: $color-white
    text-transform: uppercase
    span
        background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%)
        &:first-child
            padding: 1rem 1.6rem 0
        &:last-child
            padding: 0 1.6rem 1rem

.paragraf
    line-height: 140%
